# VS Code
.vscode/
*.code-workspace

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Build Files
project.lock.json
project.fragment.lock.json
artifacts/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
